body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header, .home {
    background-color: #141414;
    color: #FFE3D8;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
    flex-shrink: 0;
}
.links {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}
a, .home h1 {
    text-decoration: none;
    color: #EEEEEE;
}

.home img {
    width: 525px;
    height: 260px;
}
.home {
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    gap: 100px;
}
.hometext {
    max-width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}
.home h1 {
    font-size: 48px;
}

button {
    background-color: #FFE3D8;
    border-radius: 8px;
    padding: 8px;
    width: 110px;
    border: none;
    font-weight: bolder;
}

.main {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #feeded;
}
.main img {
    width: 200px;
    height: 200px;
}
.main h1 {
    font-size: 36;
    text-align: center;
}
.image img {
    border: 4px solid black;
    border-radius: 10%;
}
.images {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.image {
    max-width: 200px;
    text-align: center;
}

.quote {
    background-color: #9d3024b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
}
.quote span {
    font-family: cursive;
    font-size: 36px;
    color: white;
    font-style: italic;
    width: 1000px;
    margin-top: 120px;
}
.quote p {
    font-style: italic;
    color: white;
    font-size: 24px;
    margin-left: 600px;
}

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.banner {
    background-color: #FFE3D8;
    display: flex;
    width: 900px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid black;
}
.banner button {
    border: 2px solid black;
    height: fit-content;
}
.action {
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}
.action h3{
    font-size: 24px;
    margin: 0;
}
.action p {
    margin: 0;
}

.footer {
    background-color: #141414;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
